html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #6C6C6C;
}

a{
    text-decoration: none;
    color:#000
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul{
    list-style: none;
}

button{
    margin: 0;
    padding: 0;
}

/* PAGE */

.container{
    position: relative;
    z-index: 1;
    display: block;
    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    color: #fff;
}

/* HEADER */

.header{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.11);
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 5%);
}

.header_inner{
    height: 92px;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    margin-top: 20px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav_menu{
    display: flex;
}

.nav_list{
    text-transform: uppercase;
    color: #6C6C6C;
}

.nav_list + .nav_list{
    margin-left: 40px;
}

.nav_item{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav_item:hover{
    color:#AC1313
}

.cart{
    cursor: pointer;
    display: flex;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    padding: 9px 20px;
    margin-left: 20px;
    border-left: 1px solid #EBEBEB;
}

.cart_link{
    margin-right: 6px;
}

/* COLLECTION */

.collection{
    padding-top: 5%;
    background-image: url("../images/Collection_BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 120px;
}

.collection_inner{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection_text{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.collection_image{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.collection_img{
    background-position: 50% 50%;
    background-size: 800px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    margin-left: -196px;
    background-image: url("../images/Collection_Image.png");
}

.up_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 12px;
}

.collection_title{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.collection_title span{
    position: absolute;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    top: -25px;
}

.under_title{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-top: 15px;
    margin-bottom: 50px;
}

.button{
    background-color: #AC1313;
    color: #fff;
    padding: 20px 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
}

.button:hover{
    background-color: #000000;

}

/* PRODUCT CATIGORIES */

.product_up_title{
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
}

.catigories_title{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.product_catigories_title{
    text-align: center;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.product_catigories_title span{
    position: absolute;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    top: -20px
}

.product_list{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.product_img + .product_img{
    margin-left: 150px;
}

.vertical_text{
    position: absolute;
    transform: rotate(-90deg);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    margin-top: 290px;
}

.product_text{
    display: flex;
    gap: 140px;
}

.block_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
    color:#000000; 
}

.block_title + .block_title{
    margin-bottom: 25px;
}

.block_desc{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
}

.product_line{
    margin-bottom: 77px;
    margin-top: 150px;
    border-bottom: 1px solid #EBEBEB;
}

.vases{
    padding-bottom: 50px;
}

.vase_block{
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
}

.vases_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 25px;
}

.vases_description{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 380px;
    margin-right: 120px;
    margin-bottom: 25px;
}

.vertical_text_2{
    display: flex;
    justify-content: right;
    transform: rotate(-90deg);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    margin-top: 390px;
    float: right;
}

.line_2{
    margin-bottom: 120px;
    border-bottom: 1px solid #EBEBEB;
}

/* STORE */

.store{
    margin-bottom: 120px;
}

.store_title{
    text-align: center;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    color: #000000;
}

.vases_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    transition: all .3s;
}

.vases_link:hover{
    color: #AC1313;
}

/* STORE */

.store_title{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 60px;
}

.store_button{
    text-align: center;
}

.vertical_text_3{
    position: absolute;
    transform: rotate(-90deg);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    margin-top: 700px;
}

/* SHOPPING */

.shopping{
    height: 470px;
    background-image: url("../images/shopping_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
}

.shopping_inner{

}

.up_shopping_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 7px;
}

.shopping_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
    color: #000;
}

.under_shopping_title{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6C6C6C;
    margin-bottom: 30px;
}

.under_shopping_title span{
    text-decoration:underline;
    color: #AC1313;
}

/* SUB */

.sub{
    margin-bottom: 160px;
}

.sub_inner{
    align-items: center;
}

.telegram{
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.sub_title{
    margin-top: 40px;
    text-align: center;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 60px;
}

.sub_title span{
    position: absolute;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    color: #AC1313;
    top: -20px
}

.sub_from{
    height: 45px;
    display: flex;
    justify-content: center;
}

.sub_input{
   border: 1px solid #EBEBEB;
   margin-right: 4px;
   padding: 0 40px;
}

.sub_button{
    padding: 12px 30px;
    color: #fff;
    background-color: #000;
}

.sub_radio{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.radio_text{
    color: #A1A1A1;
    margin-left: 5px;
}

/* FOOTER */

.footer{
    border-top: 1px solid #DBDBDB;
    padding-top: 110px;
    border-bottom: 1px solid #DBDBDB;
}

.footer_logo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    margin-top: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.footer_text{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #6C6C6C;
}

.footer_nav{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.footer_nav_item{
    width: 33.33333333%;
}

.item_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.item_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.item_desc_link{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #6C6C6C;
    display: flex;
    justify-content: center;
}
