html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Libre Franklin';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #6C6C6C;
}

a{
    text-decoration: none;
    color:#000
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

ul{
    list-style: none;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}