.store_list{
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element_image{
    max-height: 494px;
    overflow: hidden;
}

.store_element{
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 15px;
    transition: all .3s;
    margin-bottom: 20px;
}

.store_element:hover{
    border-color: #AC1313;
}

.store_element img{
    transition: all .3s;
    margin-bottom: 0;
}

.store_element:hover img{
    transform: scale(1.1);
}

.store_element_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.store_element_text{
    margin-top: 20px;
    display: block;
}

.store_element_img{
    margin-bottom: 20px;
}

.store_element_name{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

.store_element_price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.store_element_button{
    color: #fff;
    background-color: #AC1313;
    padding: 0px 30px;
    transition: all .3s;
    margin-top: 20px;
}

.store_element_button:hover{
    background-color: #000000
}